* {
    box-sizing: border-box;
    margin: 20px;
}

body {
    background: black;
}

h1 {
    color: azure;
    font-family: sans-serif;
}

p {
    color: azure;
    padding-bottom: 60px;
    padding-right: 200px;
    padding-left: 200px;
}

a {
    color: azure;
}