body {
    background:black url(img/eyes.jpeg) no-repeat center fixed;
    background-size: 1700px;
}

p {
    color: floralwhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

h1 {
    color:floralwhite;
    font-family: avebury-black, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align:center;
    size: 1000px;
}

ul {
    text-align:center;
}